.search-body {
    background:#3c3a05;
    border-right:5px solid #9c9723;
    color:white;
    height:90vh;
}

.search-title {
    margin-top:2%;
}

.btn-outline-secondary {
    color: white;
    border-color: white;
    background: black;
}